*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
  background: #f7f5f2;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #b2744c;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}
/* navbar */
#navbar{
  background-color: #b2744c;
  font-family: 'Roboto', sans-serif;
}
#logo img{

  border-radius:28px;
  width:50px;
  margin-left: 40px;
 
}
.navbar-nav{
  margin-left: 60px;
}
.nav-item .nav-link{
  color:#6b3008;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background:#6b3008;
  border-radius: 5px;
  color:#b2744c;
}
::placeholder{
    color:#b2744c
}


.searchBox {
    margin-right: 70px;
  
   align-self: flex-end;
   align-content: center;
   
    background: #6b3008;
  
    border-radius: 10px;
   
  padding: 3px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    color : #f1985c;


    
}


.searchBox:hover > .searchButton {
 
  color : #b2744c;
 

}

.searchButton {
    color:#b2744c;
    float: right;
   
    background-color: transparent;
    border: none;
    height: fit-content;

   
 
   
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:rightt;
    padding: 0;
    color:#b2744c;
   font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

@media screen and (max-width: 500px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 3px;
   
    

}
}
