*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}
.all-content{
  background: #f0ebe8;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
#home{
  width: 100%;
  height: 120vh;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/img15.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  font-family: 'Roboto', sans-serif;
}
.content{
padding-top: 210px;
margin-left: 56px;
}
.content h3{
font-size: 50px;
color: white;
}

#btn{
width: 150px;
height: 36px;
margin-top: 20px;
color: #6b3008;
background:  #b2744c;
border-radius: 5px;
font-weight: bold;
border: none;
transition: 0.5s ease;
cursor: pointer;
}
#btn:hover{
background: #6b3008;
color: #b2744c;
}
/* home content */


/* navbar */
#navbar{
  background-color: #b2744c;
  font-family: 'Roboto', sans-serif;
}
#logo img{

  border-radius:28px;
  width:50px;
  margin-left: 40px;
 
}
.navbar-nav{
  margin-left: 60px;
}
.nav-item .nav-link{
  color:#6b3008;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background:#6b3008;
  border-radius: 5px;
  color:#b2744c;
}
::placeholder{
    color:#b2744c
}


.searchBox {
    margin-right: 70px;
  
   align-self: flex-end;
   align-content: center;
   
    background: #6b3008;
  
    border-radius: 10px;
   
  padding: 3px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    color : #f1985c;
    


    
}
.searchBox:hover{

}


.searchBox:hover > .searchButton {
 
  color : #b2744c;
 

}

.searchButton {
    color:#b2744c;
    float: right;
   
    background-color: transparent;
    border: none;
    height: fit-content;

   
 
   
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:rightt;
    padding: 0;
    color:#b2744c;
   font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

@media screen and (max-width: 500px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 3px;
   
    

}
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  margin-top: 20px;
  display:inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color:#b2744c;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color:#f0ebe8;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 481px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}

/* menu */
.menu{
  width: 100%;
  background: #f7f5f2;
  font-family: 'Roboto', sans-serif;
}
.heading3{
  text-align: center;
  font-size: 30px;
  color: #b2744c;
  font-weight: bold;
  border-bottom: 2px solid #b2744c;
}
#container2{
  margin-top: 20px;
}
.menu .card{
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i{
  color: #b2744c;
}
.menu h3{
  color: #b2744c;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.menu p{
  font-size: 16px;
  color: #b2744c;
  padding-top: 10px;
}
.menu p span{
  float: right;
  cursor: pointer;
}
/* menu */
#footer{
  
  width: 100%;
  background:#6b3008;
 
  margin-top: 100px;
  
}

#footer .socail-links i{
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
