
body, h1, h2, p, label {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #21398f;
}



.form-group {
    margin-bottom: 20px;
    text-align: left;
    
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

#password, #confirm_password {
    margin-bottom: 15px;
}
