/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #ab57a1;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #5c1414;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #486878;
  }
  
  button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #82095e;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #914b8f;
  }
  